.AppSpotFull {
    color: white;
}

.AppSpotTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

.jammmingtitle {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.mmm {
    color: purple;
}